<h1><%= @company.name %></h1>

<p>Offices in the following buildings and on respective floors:</p>
<ul>
   <% @company.office_building_and_floor.each do |office| %>
      <li><%= office %></li>
   <% end %>
</ul>

